<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
<main class="container">
  <div class="jumbotron">
  <p id="intro">I<span class="point">'</span>M SEYEONG</p>

  <h1 class="display-4">Welcome to my <span class="point"><%= title %> </span> page</h5>
  
  <center><img src="\Assets\images\logo_dark.png" width="300" height="300"></center>
  <p></p>
  <center><p id=mission>To do not give up without challenging and achieve the goal with challenging</p></center>
  <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
  </div>
</main>


<%- include partials/bottom_nav .ejs %>


<%- include partials/footer.ejs %>



