<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <center><p id="top_title"> <%= title %> <span class="point"> </p></center>
      <hr>
      <!-- first project -->
      <div id="ser_box">
        &emsp13;
      <table>
        <p id="ser_title" colspan="4">&emsp;Slot Machine</p>
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td >&emsp;&emsp;<img src="\Assets\images\slotmachine.png" width="230" height="230">&emsp;&emsp;&emsp;</td>
            <td class="tg-0lax">2</td>
            <td class="tg-0lax" colspan="2">3</td>
          </tr>
        </tbody>
        </table>
        </div>
        <p></p>


    <!-- second project -->
    <div id="ser_box">
      &emsp13;
      <table>
        <thead>
          <tr>
            <th class="tg-0lax" colspan="4">title</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-0lax" colspan="2">content</td>
            <td class="tg-0lax">2</td>
            <td class="tg-0lax">image</td>
          </tr>
        </tbody>
        </table>
    </div>
    <p></p>

    <!-- third project -->
      <div id="ser_box">
        &emsp13;
      <table>
        <thead>
          <tr>
            <th class="tg-0lax" colspan="4">0</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-0lax">1</td>
            <td class="tg-0lax">2</td>
            <td class="tg-0lax" colspan="2">3</td>
          </tr>
        </tbody>
        </table>
        </div>
  </div>
</main>


<%- include partials/bottom_nav .ejs %>

<%- include partials/footer.ejs %>



