<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <center><p id="top_title"> <%= title %> <span class="point"> </p></center>
      <hr>

      <!-- Front-end services -->
      <div id="ser_box">
        &emsp13;
        <center><p id="ser_title"> FRONT-END
          <table>
            <tbody>
              <tr>
                <td ><img src="\Assets\images\html.png" width="160" height="160">&emsp;&emsp;&emsp;</td>
                <td >&emsp;&emsp;<img src="\Assets\images\css.png" width="160" height="160">&emsp;&emsp;&emsp;</td>
                <td >&emsp;&emsp;<img src="\Assets\images\js.png" width="160" height="160"></td>
              </tr>
            </tbody>
          </table>
        </center> 
        </div>
         <p></p>

      <!-- Back-end services -->
      <div id="ser_box">
        &emsp13;
     <center><p id="ser_title"> BACK-END
      <table>
        <tbody>
          <tr>
            <td ><img src="\Assets\images\java.png" width="160" height="160">&emsp;&emsp;&emsp;</td>
            <td ><img src="\Assets\images\cshap.png" width="160" height="160">&emsp;&emsp;&emsp;</td>
            <td ><img src="\Assets\images\python.png" width="160" height="160">&emsp;&emsp;&emsp;</td>
            <td ><img src="\Assets\images\node.png" width="160" height="160"></td>
          </tr>
        </tbody>
      </table>
    </center> 
  </div>
  <p></p>


        <!-- DATA STORAGE services -->
        <div id="ser_box">
          &emsp13;
        <center><p id="ser_title"> DATA STORAGE
          <table>
            <tbody>
              <tr>
                <td ><img src="\Assets\images\sql.png" width="160" height="160">&emsp;&emsp;&emsp;</td>
              </tr>
            </tbody>
          </table>  
        </center>    
        </div> 
  </div>
</main>


<%- include partials/bottom_nav .ejs %>


<%- include partials/footer.ejs %>



