<!-- File name : projects.ejs
Stuent's Name : Seyeong Park
Student ID : 301088175
Date : October 9th 2020 -->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <center><p id="top_title"> <%= title %> <span class="point"> </p></center>
      <hr>
      <!-- first project -->
      <div id="ser_box">
        &emsp13;
        <table>
          <thead>
            <tr>
              <th rowspan="2"><a href="https://seyeongpark.github.io/COMP125-Assignment4-301088175/"><img src="/Assets/images/slotmachine.png" width="300"; height="300"></a></th>
              <th></th>
              <th id="ser_title">Slot Machine</th>
              <th></th>
            </tr>
            <tr>
              <td></td>
              <td colspan="2"> Used my accumulated knowledge of the JavaScript, 
                TypeScript and Web technologies and the slot machine code and the CreateJS to create a
                 HTML5 Slot Machine game that runs in an HTML Canvas container. The application will be displayed
                 the user's result after click the 'Spin Button' on the screen and Console. Depends on the
                slots, the user will earn or lose money by betting coins.
                <hr>
                JavaScript (58.2%), TypeScript (37.1%), HTML (3.9%), CSS (0.8%)
                </td>
            </tr>
          </thead>
          </table>
        </div>
        <p></p>

    <!-- second project -->
    <div id="ser_box">
      &emsp13;
      <table>
        <thead>
          <tr>
            <th rowspan="2"><a href="http://studentweb.cencol.ca/spark235/"><img src="/Assets/images/selfweb.png" width="310"; height="310"></a></th>
            <th></th>
            <th id="ser_title" >Portfolio Website</th>
            <th></th>
          </tr>
          <tr>
            <td></td>
            <td colspan="2"> This is a personal website with HTML and CSS files.
              There inclued the name, program, school, favorite quote, habbies, songs and so on. 
              It will able to link to other assingment for COMP213 - Web Interface Design - Winter 2020.
              <hr>
              HTML (98.8%), CSS (1.2%)
              </td>
          </tr>
        </thead>
        </table>
      </div>
      <p></p>

    <!-- third project -->
    <div id="ser_box">
      &emsp13;
      <table>
        <thead>
          <tr>
            <th rowspan="2"><a href="https://seyeongpark.github.io/COMP125-301088175-Final-Exam/"><img src="/Assets/images/dice.png" width="300"; height="300"></a></th>
            <th></th>
            <th id="ser_title">The Dice Roller</th>
            <th></th>
          </tr>
          <tr>
            <td></td>
            <td colspan="2"> Used my accumulated knowledge of various libraries and frameworks 
              demonstrated in class to build a dice roller. Player's game will display a random 
              result of two dies set side by side within the webpage. Each time the player
               presses the Roll button the dice result displayed will change.
              <hr>
              TypeScript (90.5%), HTML (8.3%), CSS (1.2%)
              </td>
          </tr>
        </thead>
        </table>
      </div>
      <p></p>
  </div>
</main>

<%- include partials/bottom_nav .ejs %>
<%- include partials/footer.ejs %>



