<%- include ../partials/header.ejs %> 
<%- include ../partials/main_nav.ejs %>

<main class="container" style="width: 650px;">
    <!-- Message Area -->
    <% if(messages.length > 0) { %>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>

    <main class="container">
        <div class="jumbotron">
          <center><p id="top_title"> <%= title %> <span class="point"> </p></center>
            <hr>
            <form method="POST" autocomplete="off">

                <fieldset class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control"
                    name="username" placeholder="Enter username"
                    id="username" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter password"
                    id="password" required>
                    <p></p>
                    &nbsp; or
                    <a href="/register"> Register here</a>
                </fieldset>

                <fieldset class="form-group text-right">
                    <center>
                    <input type="submit" class="btn btn-success btn-lg" value="Login" style="background-color: rgb(71, 71, 137); border: 0;outline: 0;">
                    <a href="/">
                        &emsp; <input type="button" class="btn btn-warning btn-lg" value="Cancel" style="background-color: rgb(138, 138, 150); border: 0;outline: 0;">
                    <a href="/contact-list">
                    </a>
                </center>
                </fieldset>


            </form>

        </div>
    </div>
</main>
<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs -%>
