<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<main class="container" style="width: 650px;">
    <!-- Message Area-->
    <% if(messages.length>0) { %> 
        <div class="alert alert-danger">
            <%=messages%>
        </div>
    <% } %> 
        <div class="jumbotron">
          <center><p id="top_title"> <%= title %> <span class="point"> </p></center>
            <hr>
            <form method="POST" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control"
                    name="username" placeholder="Enter username"
                    id="username" required autofocus>
                </fieldset>
    
                <fieldset class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter password"
                    id="password" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="email">Email </label>
                    <input type="email" class="form-control"
                    name="email" placeholder="Enter Email Address"
                    id="email" required>
                </fieldset>       
                
                <fieldset class="form-group">
                    <label for="contactnumber">Contact Number</label>
                    <input type="tel" class="form-control"
                    name="contactnumber" placeholder="Enter Contact Number"
                    id="contactnumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                    <small>Format: 123-456-7890</small>
                </fieldset>   
                     
            
                <fieldset class="form-group">
                    <label for="homeaddress">Home Address</label>
                    <input type="text" class="form-control"
                    name="homeaddress" placeholder="Enter Home Address"
                    id="homeaddress" >
                </fieldset>   
                
                <fieldset class="form-group">
                    <label for="displayName">Display Name</label>
                    <input type="text" class="form-control"
                    name="displayName" placeholder="Enter Display Name"
                    id="displayName" required autofocus>
                </fieldset>   
    
                <fieldset class="form-group text-right">
                    <center>
                        <button class="btn btn-primary btn-lg" type="submit" style="background-color: rgb(71, 71, 137); border: 0;outline: 0;"> 
                        <i class="fa fa-check-circle"></i>&emsp; Submit</button>
                        &emsp;&emsp;
                        <a href="/contact-list" class="btn btn-warning btn-lg" style="background-color: rgb(138, 138, 150); border: 0;outline: 0;">
                        <i class="fa fa-trash"></i>&emsp; Cancel</a>
                    </center>
                </fieldset>
    
            </form>
        </div>
    </div>
    
    </main>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>